.creators__content {
    width: 100%;
    margin-top: 180px;
    position: relative;

    @include respond-to(sm) {
        margin-top: 80px;
    }

    &-title {
        font-family: $font-primary;
        color: $color-body;
        font-size: 38px;
        font-weight: 600;
        line-height: 1.2;
        margin-left: 200px;

        @include respond-to(sm) {
            font-size: 28px;
            line-height: 1.4;
            margin-left: 40px;
        }
    }

    &-subtitle {
        font-family: $font-primary;
        color: $color-body;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.6;
        margin-left: 200px;

        @include respond-to(sm) {
            font-size: 16px;
            line-height: 1.4;
            margin-left: 40px;
            width: 343px;
        }
    }

    &-list {
        width: 1050px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;

        @include respond-to(sm) {
            width: 690px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 20px;
        }
    }

    &-item {
        width: 240px;
        height: 238px;
        background: $bg-card;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        @include respond-to(sm) {
            width: 310px;
            height: 100px;
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 30px;
        }
    }

    &-item--desktop {
        @include respond-to(sm) {
            display: none;
        }
    }
    &-avatar {
        border-radius: 50%;
        width: 110px;
        height: 120px;

        @include respond-to(sm) {
            width: 60px;
            height: 60px;
        }
    }

    &-name {
        font-family: $font-primary;
        color: $color-body;
        margin-top: 16px;
        text-align: center;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.4;

        @include respond-to(sm) {
            text-align: start;
            padding-left: 20px;
        }
    }

    &-sales {
        font-family: $font-primary;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        color: rgba(133, 133, 132, 1);

        @include respond-to(sm) {
            padding-left: 20px;
        }
    }

    &-amount {
        font-family: $font-primary;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        color: $color-body;
    }

    &-round {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: rgba(43, 43, 43, 1);
        position: absolute;
        top: 16px;
        left: 16px;
        color: rgba(133, 133, 132, 1);
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
    }

    &-btn-rankings {
        background: transparent;
        width: 247px;
        height: 60px;
        position: absolute;
        top: 16px;
        left: 990px;
    
        @include respond-to(sm) {
            left: 480px;
        }
    }

    &-icon {
        fill: $color-button;
    }
}