.hero__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 80px;

    @include respond-to(sm) {
            width: 690px;
            height: 381px;
            margin-left: auto;
            margin-right: auto;
        }

   &-tablet-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
   }

   &-text-block {
    display: flex;
    flex-direction: column;
    position: relative;
   }

   &-title {
    color: $color-body;
    font-family: $font-primary;
    font-size: 67px;
    font-weight: 600;
    width: 510px;

    @include respond-to(sm) {
        font-size: 38px;
        width: 330px;
    }
   }

   &-description {
    color: $color-body;
    font-family: $font-primary;
    font-size: 22px;
    font-weight: 400px;
    width: 510px;
    margin-top: 20px;

    @include respond-to(sm) {
            font-size: 16px;
            width: 330px;
   }
}

   &-image {
    width: 510px;
    height: 401px;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    @include respond-to(sm) {
        width: 330px;
        height: 221px;
    }
   }

   &-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 510px;
    height: 109px;
    background: $bg-card;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    @include respond-to(sm) {
            width: 330px;
            height: 109px;
        }
   }

   &-frame-title {
    color: $color-body;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
    font-family: $font-primary;
    padding-left: 20px;
   }

   &-frame-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
   }

   &-frame-author-name {
    font-family: $font-primary;
    color: $color-body;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
   }

   &-btn-start {
    width: 224px;
    height: 60px;
    position: absolute;
    top: 580px;

    @include respond-to(sm) {
        top: 460px;
    }
   }

   &-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 510px;
    color: $color-body;
    font-family: $font-secondary;
    position: absolute;
    top: 660px;
    left: 210px;

    @include respond-to(sm) {
        width: 330px;
        top: 540px;
        left: 40px;
    }
   }

   &-stat-number {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;

    @include respond-to(sm) {
        font-size: 22px;
        line-height: 1.6;
    }
   }

   &-stat-label {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;

    @include respond-to(sm) {
            font-size: 16px;
            line-height: 1.4;
        }
   }
}