ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, img, div {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(43, 43, 43, 1);
    margin: 0;
    padding: 0;
}