$font-family: "Oswald", sans-serif;
$font-secondary: "Arial", sans-serif;
$text-transform: uppercase;
$color-body: rgba(0, 0, 0, 1);

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-xl: 1440px;
