.map__content {
    width: 100%;
    background-image: url(/Landing-second/image/map.jpg);
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &-block-adress {
        width: 570px;
        height: 201px;
        background-color: rgba(255, 255, 255, 1);
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 100px;
        left: 100px;
    }

    &-title-map {
        width: 163px;
        color: $color-body;
        font-family: $font-family;
        text-transform: $text-transform;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
    }

    &-paragraf-adress {
        display: flex;
        flex-direction: column;
        width: 155px;
    }

    &-adress {
        font-family: $font-secondary;
        color: $color-body;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        margin-top: 0;
    }

    &-logo {
        position: absolute;
        top: 160px;
        right: 420px;
    }
}