$font-primary: 'Work Sans', sans-serif;
$font-secondary: 'Space Mono', monospace;
$color-body: rgba(255, 255, 255, 1);
$color-button: rgba(162, 89, 255, 1);
$bg-card: rgba(59, 59, 59, 1);
$border-radius: 20px;
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-xl: 1440px;

