ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p,
h1,
h3 {
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
    }    
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 375px;
    }
}

.catalog__toys-card {
    max-width: 1060px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .catalog__toys-card {
        max-width: 540px;
    }
}

@media screen and (max-width: 375px) {
    .catalog__toys-card {
        max-width: 310px;
    }
}

.catalog__title {
    font-size: 45px;
    color: #e60023;
    font-weight: 800;
    padding-bottom: 40px;
    text-align: center;
    font-family: "Savate", sans-serif;

}

@media screen and (max-width: 375px) {
    .catalog__title {
        font-size: 30px;
    }
}

.catalog__toys-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .catalog__toys-list {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 30px;
    }
    
}

@media screen and (max-width: 375px) {
    .catalog__toys-list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
        place-items: center;
    }
}

.catalog__toys-description {
    width: 220px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background: #dff1f7;
    background: linear-gradient(90deg, rgba(223, 241, 247, 1) 0%, rgb(171, 241, 200) 50%, rgba(237, 221, 83, 1) 100%);
}

@media screen and (max-width: 375px) {
    .catalog__toys-description {
        width: 260px;
        height: 380px;
    }
}

.catalog__toys-image {
    width: 140px;
    border-radius: 40px;
}

.catalog__toys-list-description {
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Savate", sans-serif;
}

.catalog__toys-list-title {
    font-family: "Savate", sans-serif;
    font-size: 22px;
    align-self: flex-start;
    margin-left: 20px;
}

.catalog__toys-list-price {
    font-family: "Savate", sans-serif;
    font-size: 20px;
    color: red;
    font-weight: 800;

    &--sale {
        color: #e60023;
    }
}

.catalog__toys-list-sale {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 60px;
    left: 120px;
    transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
    .catalog__toys-list-sale {
        left: 140px;
    }
}

@media screen and (max-width: 375px) {
    .catalog__toys-list-sale {
        left: 160px;
        width: 130px;
            height: 130px;
    }
}

.catalog__toys-list-sale-position-2 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 60px;
    left: 420px;
    transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
    .catalog__toys-list-sale-position-2 {
        left: 420px;
    }
}

@media screen and (max-width: 375px) {
    .catalog__toys-list-sale-position-2 {
        left: 180px;
        top: 480px;
        width: 130px;
        height: 130px;
    }
}

.catalog__toys-list-sale-position-3 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 60px;
    left: 700px;
    transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
    .catalog__toys-list-sale-position-3 {
        left: 140px;
        top: 470px;
    }
}

@media screen and (max-width: 375px) {
    .catalog__toys-list-sale-position-3 {
        left: 180px;
        top: 880px;
        width: 130px;
        height: 130px;
    }
}

.catalog__toys-list-sale-position-4 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 60px;
    left: 980px;
    transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
    .catalog__toys-list-sale-position-4 {
        left: 420px;
        top: 470px;
    }
}

@media screen and (max-width: 375px) {
    .catalog__toys-list-sale-position-4 {
        left: 180px;
        top: 1290px;
        width: 130px;
        height: 130px;
    }
}

.catalog__toys-list-sale-position-5 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 480px;
    left: 140px;
    transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
    .catalog__toys-list-sale-position-5 {
        left: 140px;
        top: 860px;
    }
}

@media screen and (max-width: 375px) {
    .catalog__toys-list-sale-position-5 {
        left: 170px;
        top: 1690px;
        width: 130px;
        height: 130px;
    }
}

.catalog__toys-list-sale-position-6 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 480px;
    left: 420px;
    transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
    .catalog__toys-list-sale-position-6 {
        left: 420px;
        top: 860px;
    }
}

@media screen and (max-width: 375px) {
    .catalog__toys-list-sale-position-6 {
        left: 170px;
        top: 2100px;
        width: 130px;
        height: 130px;
    }
}

.catalog__toys-list-sale-position-7 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 480px;
    left: 690px;
    transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
    .catalog__toys-list-sale-position-7 {
        left: 140px;
        top: 1280px;
    }
}

.catalog__toys-list-sale-position-8 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 480px;
    left: 960px;
    transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
    .catalog__toys-list-sale-position-8 {
        left: 420px;
        top: 1280px;
    }
}

.catalog__toys-list-sale-position-9 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 900px;
    left: 420px;
    transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
    .catalog__toys-list-sale-position-9 {
        left: 140px;
        top: 1580px;
    }
}

.catalog__toys-list-sale-position-10 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 900px;
    left: 140px;
    transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
    .catalog__toys-list-sale-position-10 {
        left: 420px;
        top: 1580px;
    }
}

.catalog__toys-list-sale-position-11 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 900px;
    left: 680px;
    transform: rotate(20deg);
}
@media screen and (max-width: 768px) {
    .catalog__toys-list-sale-position-11 {
        left: 420px;
        top: 1960px;
    }
}

.catalog__toys-list-sale-position-12 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 900px;
    left: 960px;
    transform: rotate(20deg);
}

@media screen and (max-width: 768px) {
    .catalog__toys-list-sale-position-12 {
        left: 120px;
        top: 1960px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .catalog__toys-description-hidden {
        display: none;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .catalog__toys-description-hidden-mobile {
        display: none;
    }

}

.catalog__toys-list-old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 0.9em;
    margin-left: 8px;
}